/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}

h1, h2 {
    text-align: center;
}

h1.h1-index {
    color: #7D8B97;
}
h2.h2-index {
    color: white;
}

.container {
    background-color: #001731;
    margin: 100px auto;
}

form.class-form {
    gap: 1em;
    flex-direction: row;
    width: 500px;
    margin: 20px auto;
    border: 1px solid #333;
    padding: 1.8em;
    border-radius: 8px;
    background-color: white;
}